
.section-top{
  background: url("../img/section-top-bg.jpg") top center no-repeat;
  background-size: cover;
  //height: 100vh;
  position: relative;

  &::after{
    content: "";
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
  }

  .section-top__header{
    position: relative;
    z-index: 2;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-top__menu{
      flex-basis: 62.5%;
    }
  }
}